In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel(r"C:\Users\bhara\OneDrive\Documents\Traindataset.xlsx")

In [3]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
dataset.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
dataset.shape

(614, 13)

In [7]:
print("Number of rows",dataset.shape[0])
print("number of columns",dataset.shape[1])

Number of rows 614
number of columns 13

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
dataset.isnull()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,False,False,False,False,False,False,False,False,False,False,False,False,False
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
dataset.isnull().sum()*100/len(dataset)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [12]:
dataset = dataset.drop('Loan_ID',axis=1)

In [13]:
dataset.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y

In [14]:
columns = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [15]:
dataset = dataset.dropna(subset=columns)

In [16]:
dataset.isnull().sum()*100/len(dataset)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [17]:
dataset['Self_Employed'].mode()[0]

'No'

In [18]:
dataset['Self_Employed'] = dataset['Self_Employed'].fillna(dataset['Self_Employed'].mode()[0])

In [19]:
dataset.isnull().sum()*100/len(dataset)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [20]:
dataset['Credit_History'].unique()

array([ 1.,  0., nan])

In [21]:
dataset['Credit_History'].mode()[0]

1.0

In [22]:
dataset['Credit_History'] = dataset['Credit_History'].fillna(dataset['Credit_History'].mode()[0])

In [23]:
dataset.isnull().sum()*100/len(dataset)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [24]:
dataset.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
96,Female,Yes,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban,Y
331,Male,No,0,Graduate,No,2935,0.0,98.0,360.0,1.0,Semiurban,Y
411,Male,Yes,0,Graduate,No,6256,0.0,160.0,360.0,1.0,Urban,Y
319,Male,Yes,1,Graduate,Yes,10000,0.0,155.0,360.0,1.0,Rural,N
481,Male,Yes,3+,Not Graduate,No,3095,0.0,113.0,360.0,1.0,Rural,Y

In [25]:
dataset['Dependents'] = dataset['Dependents'].replace(to_replace="3+",value='4')

In [26]:
dataset['Dependents'].unique()

array([1, 0, 2, '4'], dtype=object)

In [27]:
dataset['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [28]:
dataset['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [29]:
dataset['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [30]:
dataset['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [31]:
dataset['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [32]:
dataset['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [33]:
dataset['Gender'] = dataset['Gender'].map({'Male':1,'Female':0}).astype('int')
dataset['Married'] = dataset['Married'].map({'Yes':1,'No':0}).astype('int')
dataset['Education'] = dataset['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
dataset['Self_Employed'] = dataset['Self_Employed'].map({'No':1,'Yes':0}).astype('int')
dataset['Property_Area'] = dataset['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
dataset['Loan_Status'] = dataset['Loan_Status'].map({'N':0,'Y':1}).astype('int')

In [34]:
dataset.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,1,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,0,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,1,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,1,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,0,5417,4196.0,267.0,360.0,1.0,1,1

In [35]:
X = dataset.drop('Loan_Status',axis=1)
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,1,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,0,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,1,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,1,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,0,5417,4196.0,267.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,1,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,1,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,1,8072,240.0,253.0,360.0,1.0,1
612,1,1,2,1,1,7583,0.0,187.0,360.0,1.0,1
613,0,0,0,1,0,4583,0.0,133.0,360.0,0.0,2

In [36]:
y = dataset['Loan_Status']

In [37]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 553, dtype: int32

In [38]:
dataset.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,1,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,0,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,1,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,1,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,0,5417,4196.0,267.0,360.0,1.0,1,1

In [39]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [40]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols] = st.fit_transform(X[cols])

In [41]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,1,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,0,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,1,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,1,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,0,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,1,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,1,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,1,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,1,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,0,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [43]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                     test_size=0.20,
                                                     random_state=42)
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")
    
    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model] = round(np.mean(score)*100,2)

In [44]:
model_df

{}

In [45]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_val(model,X,y)

LogisticRegression() accuracy is 0.8018018018018018
LogisticRegression() Avg cross val score is 0.8047829647829647

In [46]:
from sklearn import svm
model = svm.SVC()
model_val(model,X,y)

SVC() accuracy is 0.7927927927927928
SVC() Avg cross val score is 0.7938902538902539

In [47]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier() accuracy is 0.7477477477477478
DecisionTreeClassifier() Avg cross val score is 0.7179524979524979

In [48]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier() accuracy is 0.7657657657657657
RandomForestClassifier() Avg cross val score is 0.7866830466830466

In [49]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier() accuracy is 0.7927927927927928
GradientBoostingClassifier() Avg cross val score is 0.7667485667485667

In [50]:
from sklearn.model_selection import RandomizedSearchCV

In [51]:
log_reg_grid = {"C":np.logspace(-2,2,20),
               "solver":['liblinear']}

In [52]:
rs_log_reg = RandomizedSearchCV(LogisticRegression(),
                   param_distributions=log_reg_grid,
                  n_iter=20,cv=5,verbose=True)

In [53]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-02, 1.62377674e-02, 2.63665090e-02, 4.28133240e-02,
       6.95192796e-02, 1.12883789e-01, 1.83298071e-01, 2.97635144e-01,
       4.83293024e-01, 7.84759970e-01, 1.27427499e+00, 2.06913808e+00,
       3.35981829e+00, 5.45559478e+00, 8.85866790e+00, 1.43844989e+01,
       2.33572147e+01, 3.79269019e+01, 6.15848211e+01, 1.00000000e+02]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [54]:
rs_log_reg.best_score_

0.8066011466011467

In [55]:
svc_grid = {'C':[0.25,0.50,0.75,1],"kernel":["linear"]}

In [56]:
rs_svc=RandomizedSearchCV(svm.SVC(),
                  param_distributions=svc_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [57]:
rs_svc.fit(X,y)

C:\Users\bhara\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:292: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [58]:
rs_svc.best_score_

0.8066011466011467

In [59]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

In [60]:
RandomForestClassifier()

RandomForestClassifier()

In [61]:
rf_grid = {'n_estimators':np.arange(10,1000,10),
 'max_features':['auto','sqrt'],
 'max_depth':[None,3,5,10,20,30],
 'min_samples_split':[2,5,20,50,100],
 'min_samples_leaf':[1,2,5,10]
}

In [62]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),
                  param_distributions=rf_grid,
                   cv=5,
                   n_iter=20,
                  verbose=True)

In [63]:
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [64]:
rs_rf.best_score_

0.8066011466011467

In [65]:
rs_rf.best_params_

{'n_estimators': 740,
 'min_samples_split': 20,
 'min_samples_leaf': 10,
 'max_features': 'sqrt',
 'max_depth': 20}

In [66]:
X = dataset.drop('Loan_Status',axis=1)
y = dataset['Loan_Status']

In [67]:
rf = RandomForestClassifier(n_estimators=270,
min_samples_split=5,
min_samples_leaf=5,                       
max_features='sqrt',
max_depth=5)

In [68]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, max_features='sqrt', min_samples_leaf=5,
                       min_samples_split=5, n_estimators=270)

In [69]:
import joblib

In [70]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [71]:
model =joblib.load('loan_status_predict')

In [72]:
import pandas as pd
df = pd.DataFrame({
    'Gender':1,
    'Married':1,
    'Dependents':0,
    'Education':1,
    'Self_Employed':1,
    'ApplicationIncome':3000,
    'CoapplicationIncome':0,
    'LoanAmount':66,
    'Loan_Amount_Term':360,
    'Credit_History':1,
    'Property_Area':1
},index=[0])

In [73]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicationIncome,CoapplicationIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,1,1,3000,0,66,360,1,1

In [74]:
result = model.predict(df)

C:\Users\bhara\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- ApplicationIncome
- CoapplicationIncome
Feature names seen at fit time, yet now missing:
- ApplicantIncome
- CoapplicantIncome

  warnings.warn(message, FutureWarning)

In [75]:
if result==1:
    print("Loan Approved")
else:
    print("Loan Not Approved")

Loan Approved

In [76]:
from tkinter import *
import joblib
import pandas as pd

In [ ]:
def show_entry():
    
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())
    p9 = float(e9.get())
    p10 = float(e10.get())
    p11= float(e11.get())
    
    model = joblib.load('loan_status_predict')
    df = pd.DataFrame({
        'Gender':p1,
        'Married':p2,
        'Dependents':p3,
        'Education':p4,
        'Self_Employed':p5,
        'ApplicationIncome':p6,
        'CoapplicantIncome':p7,
        'LoanAmouunt':p8,
        'Loan_Amount_Term':p9,
        'Credit_History':p10,
        'Property_Area':p11
    },index=[0])
    result = model.predict(df)
    if result == 1:
        Label(master,text="Loan approved").grid(row=31)
    else:
        Label(master,text="Loan not approved").grid(row=31)
            
master =Tk()
master.title("Loan Status Prediction Using Machine Learning")
label = Label(master,text = "Loan status Prediction",bg = "black",
             fg = "White").grid(row=0,columnspan=2)

Label(master,text = "Gender [1:Male,0:Female]").grid(row=1)
Label(master,text = "Married [1:Yes,0:No]").grid(row=2)
Label(master,text = "Dependents [1,2,3,4]").grid(row=3)
Label(master,text = "Education").grid(row=4)
Label(master,text = "Self_Employed").grid(row=5)
Label(master,text = "ApplicantIncome").grid(row=6)
Label(master,text = "CoapplicantIncome").grid(row=7)
Label(master,text = "LoanAmount").grid(row=8)
Label(master,text = "Loan_Amount_Term").grid(row=9)
Label(master,text = "Credit_History").grid(row=10)
Label(master,text = "Property_Area").grid(row=11)

e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)
e9 = Entry(master)
e10 = Entry(master)
e11 = Entry(master)

e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="Predict",command=show_entry).grid()

mainloop()

C:\Users\bhara\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- ApplicationIncome
- LoanAmouunt
Feature names seen at fit time, yet now missing:
- ApplicantIncome
- LoanAmount

  warnings.warn(message, FutureWarning)